/* Custom properties */
:root {
  --spacer: 1rem;

  --clr-Desaturated-Red: hsl(0, 36%, 70%);
  --clr-Soft-Red: hsl(0, 93%, 68%);
  --clr-Dark-Grayish-Red: hsl(0, 6%, 24%);

  /*  Gradients
  - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
  - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */

  --ff-primary: 'Josefin Sans', sans-serif;

  --fs-: 1rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);

  --tw-border-opacity: 1;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility classes */
.title {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--clr-Desaturated-Red);
  font-weight: 300;
}

.title-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}

.desktop {
  display: none;
}
/* general styling */

body {
  font-family: var(--ff-primary);
  line-height: 1.6;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background-image: url(./images/bg-pattern-desktop.svg);
}

/* general layout */

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 40rem) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'logo hero'
      'hero-text .'
      'form .'
      'footer footer';
    margin: 0;
    gap: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .logo {
    grid-area: logo;
    /* width: 10rem;
    margin: 2rem 0 2rem 8vw; */
  }

  .hero {
    grid-area: hero;
  }

  .hero-text {
    grid-area: hero-text;
  }

  .form {
    grid-area: form;
  }

  .footer {
    grid-area: footer;
  }
}

/* individual sections */

.nav {
  margin: 1rem 0 3rem 2rem;
}

.hero-text {
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
}

.text {
  color: var(--clr-Desaturated-Red);
  text-align: center;
  letter-spacing: 1px;
  padding-top: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

form {
  position: relative;
  width: 80%;
  margin: 6rem auto;
}

input[type='text'] {
  width: 100%;
  background: transparent;
  border-radius: 10000px;
  height: 3rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  outline: none;
  border: 0.09rem solid var(--clr-Desaturated-Red);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.1s ease;
}

input[type='text'].error {
  border: 0.11rem solid var(--clr-Soft-Red);
}

::placeholder {
  color: var(--clr-Desaturated-Red);
}

form div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

form div #error-icon {
  width: 1.2rem;
  margin-right: 0.5rem;
  margin: auto 0.5rem auto 0;
  user-select: none;
  opacity: 0;
  transition: all 0.1s ease;
}

form div #error-icon.error {
  opacity: 1;
}

form div button {
  display: inline-block;
  position: relative;
  top: -20px;
  right: -20px;
  border-radius: 10000px;
  height: 3rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 0 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
}

form div button:hover {
  box-shadow: 0 15px 20px -3px var(--clr-Desaturated-Red);
}

#error {
  position: absolute;
  left: 1.6rem;
  top: 3.4rem;
  color: var(--clr-Soft-Red);
  opacity: 0;
  transition: all 0.1s linear;
}

#error.error {
  user-select: none;
  opacity: 1;
}
