/* Custom properties */
:root {
  --spacer: 1rem;

  --clr-Desaturated-Red: hsl(0, 36%, 70%);
  --clr-Soft-Red: hsl(0, 93%, 68%);
  --clr-Dark-Grayish-Red: hsl(0, 6%, 24%);

  /*  Gradients
  - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
  - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */

  --ff-primary: 'Josefin Sans', sans-serif;

  --fs-: 1rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility classes */
.title {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--clr-Desaturated-Red);
  font-weight: 300;
}

.title-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}

/* general styling */

body {
  font-family: var(--ff-primary);
  line-height: 1.6;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background-image: url(./images/bg-pattern-desktop.svg);
}

button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
  background-color: inherit;
}

/* general layout */

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

@media (min-width: 40rem) {
  .split {
    flex-direction: row;
  }
}

/* individual sections */

.nav {
  margin: 1rem 0 3rem 2rem;
}

.hero-text {
  text-align: center;
  letter-spacing: 1rem;
}

.text {
  color: var(--clr-Desaturated-Red);
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* form {
  display: flex;
} */

.icon {
  background-color: var(--clr-Desaturated-Red);
  color: #fff;
  padding: 1rem 1.7rem;
  border-radius: 25px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(-40%);
}

input {
  font: inherit;
  outline: 0;
}

.form__field {
  position: relative;
  overflow: hidden;
}

.form__input {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 2px;
  font-size: 1.5rem;
  padding: 0.5em 4em 0.5em 2em;
}

.form__input:valid {
  transform: scale(1.2);
}

/* .form__input:valid + .icon::after {
  content: "<i class=" fas fa-chevron-right "></i>";
}

.form__input:invalid {
  border-color: firebrick;
}

.form__input:invalid + .icon::after {
  content: "😳";
}  */
